:host {
  display: block;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 24px;
  text-align: center;

  > mat-icon {
    font-size: 64px;
    width: 64px;
    height: 64px;
    color: var(--mat-sys-outline);
    margin-bottom: 16px;
  }

  h2 {
    font: var(--mat-sys-title-large);
    margin: 0 0 8px;
  }

  p {
    font: var(--mat-sys-body-large);
    color: var(--mat-sys-on-surface-variant);
    margin: 0 0 24px;
  }
}
